/*************************************************************
				         CSS RESET
*************************************************************/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*************************************************************
				           GLOBAL
*************************************************************/
body {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
  font-size: 12px;
  color: #333; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#editor_tabs ul {
  position: absolute;
  left: 250px;
  right: 0;
  top: 30px;
  padding-left: 20px;
  border-bottom: 1px solid #bbb;
  height: 22px; }
  #editor_tabs ul li {
    float: left;
    display: block;
    margin-right: 5px; }
  #editor_tabs ul li a {
    display: block;
    padding: 5px 0 6px 7px;
    width: 100px;
    background-color: #bbb;
    border: 1px solid #bbb;
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: #444;
    font-size: 11px;
    white-space: nowrap;
    overflow: hidden; }
    #editor_tabs ul li a.current {
      background-color: #eee;
      border-bottom: 0;
      color: #000; }
      #editor_tabs ul li a.current:hover {
        background-color: #eee;
        border-bottom: 0;
        color: #000; }
    #editor_tabs ul li a:hover {
      background-color: #ccc;
      color: #000;
      text-decoration: none; }

#file_drawer {
  position: absolute;
  top: 52px;
  bottom: 45px;
  width: 250px;
  padding: 5px 0;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  overflow: auto;
  color: #000;
  font-size: 11px; }
  #file_drawer ul {
    padding: 2px 0 2px 20px; }
  #file_drawer li {
    list-style: none; }
    #file_drawer li .hidden {
      display: none; }
    #file_drawer li .dirname {
      display: block;
      padding: 3px 0 3px 19px;
      background: url(/images/icons_famfamfam/folder.png) 0 0 no-repeat; }
  #file_drawer a {
    display: block;
    padding: 3px 0 3px 19px;
    color: #444;
    background: url(/images/icons_famfamfam/page_white_text.png) 0 1px no-repeat; }

#inputdiv_wrapper {
  position: absolute;
  left: 250px;
  top: 53px;
  bottom: 45px;
  right: 0;
  border-top: 4px solid #eee; }

#input_area {
  width: 100%;
  height: 100%;
  line-height: 1.5em; }

#bottombar {
  position: absolute;
  bottom: 0;
  margin-left: 292px;
  padding: 10px 0; }
  #bottombar .button {
    display: block;
    padding: 4px 10px;
    background-color: #eee;
    border: 1px solid #ddd;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font-size: 12px;
    color: #444; }
    #bottombar .button:hover {
      text-decoration: none;
      background-color: #ddd;
      border: 1px solid #ccc; }

#current_filepath {
  display: none; }
