/*************************************************************
				         CSS RESET
*************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************************************************
				           GLOBAL
*************************************************************/

@mixin border_radius($px) {
	-moz-border-radius: $px;
	-webkit-border-radius: $px;
	border-radius: $px;
}

@mixin top_border_radius($px) {
	-moz-border-radius-topleft: $px;
	-moz-border-radius-topright: $px;
	-webkit-border-top-left-radius: $px;
	-webkit-border-top-right-radius: $px;
	border-top-left-radius: $px;
	border-top-right-radius: $px;
}

body {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Verdana, sans-serif;
	color: #333;
}

a {
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

#editor_tabs ul {
	position: absolute;
	left: 250px;
	right: 0;
	top: 30px;
	padding-left: 20px;
	border-bottom: 1px solid #bbb;
	height: 22px;
	li {
		float: left;
		display: block;
		margin-right: 5px;
		a {
			display: block;
			padding: 5px 0 6px 7px;
			width: 100px;
			background-color: #bbb;
			border: 1px solid #bbb;
			@include top_border_radius(7px);
			color: #444;
			font-size: 11px;
			white-space: nowrap;
			overflow: hidden;
			&:hover {
				background-color: #ccc;
				color: #000;
				text-decoration: none;
			}
		}
		&.current a {
			background-color: #eee;
			border-bottom: 0;
			color: #000;
			&:hover {
				background-color: #eee;
				border-bottom: 0;
				color: #000;	
			}
		}
	}
}

#file_drawer {
	position: absolute;
	top: 52px;
	bottom: 45px;
	width: 250px;
	padding: 5px 0;
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
	overflow: auto;
	color: #000;
	font-size: 11px;
	ul {
		padding: 2px 0 2px 20px;
	}
	li {
		list-style: none;
		.hidden {
			display: none;
		}
		.dirname {
			display: block;
			padding: 3px 0 3px 19px;
			background: url(/images/icons_famfamfam/folder.png) 0 0 no-repeat;
		}
	}
	a {
		display: block;
		padding: 3px 0 3px 19px;
		color: #444;
		background: url(/images/icons_famfamfam/page_white_text.png) 0 1px no-repeat;
	}
}

#inputdiv_wrapper {
	position: absolute;
	left: 250px;
	top: 53px;
	bottom: 45px;
	right: 0;
	border-top: 4px solid #eee;
}

#input_area {
	width: 100%;
	height: 100%;
	font-size: 12px;
	line-height: 1.5em;
}

#bottombar {
	position: absolute;
	bottom: 0;
	margin-left: 292px;
	padding: 10px 0;
	.button {
		display: block;
		padding: 4px 10px;
		background-color: #eee;
		border: 1px solid #ddd;
		@include border_radius(3px);
		font-size: 12px;
		color: #444;
		&:hover {
			text-decoration: none;
			background-color: #ddd;
			border: 1px solid #ccc;
		}
	}
}

#current_filepath {
	display: none;
}