<%inherit file="wrapper.html"/>

<div id="file_drawer">
	<ul>
		${ self.print_folder(dir_structure) }
	</ul>
</div>
<div id="inputdiv_wrapper">
	<div id="input_area">${ file_contents | n, unicode }</div>
</div>
<div id="bottombar">
	<a class="button" id="save_current" href="#">Save</a>
<div>
<div id="current_filepath">${ file_path }</div>

<%def name="print_folder(dir_structure)">
	% if 'dirs' in dir_structure:
		% for dirname, dirdata in dir_structure['dirs'].items():
			<li>
				<span class="dirname">${ dirname }</span>
				<ul>
					% if len(dirdata['contents']) > 0:
						${ self.print_folder(dirdata['contents']) }
					% endif
				</ul>
			</li>
		% endfor
	% endif
	% if 'files' in dir_structure:	
		% for file in dir_structure['files']:
			<li class="file">
				<a class="file" href="${ file['path'] }">${ file['name'] }</a>
			</li>
		% endfor
	% endif
</%def>