<!DOCTYPE HTML>
<html>
<head>
	<title>${ self.page_title() }<%def name="page_title()">Editor test</%def></title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css" />
<head>
<body>
	${ self.body() }

	<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAADSkF-vV5lZYCx8FeN2f86BRi_j0U6kJrkFvY4-OX2XYmEAa76BQfa4YnWciC_7BSDZQq8gEPDkZDVA"></script>
	<script type="text/javascript">
		google.load("jquery", "1.5");
		google.load("jqueryui", "1.8")
	</script>
	<script type="text/javascript" src="/js/scripts.js"></script>
	<script type="text/javascript" src="/js/ace/ace.js"></script>
	<script type="text/javascript" src="/js/ace/theme-idle_fingers.js"></script>
	<script type="text/javascript" src="/js/ace/mode-python.js"></script>
</body>
</html>